body{
    background-image: url("../assets/images/Tyrell_Fealty_Background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}

h5{
    color: #252525;
}

.local-nav{
    background-color: #64ab4a;
    color: rgb(100, 88, 56);
    width: 100%;
    height: 8vh;
}

.user-local-nav{
    border-radius: 50%;
}

.center {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.banner-local-nav{
    width: 20vh;
    border-radius: 50%;
}

.mt-10{
    margin-top: 100px;
}

.mt-5em{
  margin-top: 5em;
}

.card-body{
    color: #252525;
}

.comments{
    background-color: rgba(0, 0, 0, 0.034);
    border-radius: 10px;
}

.littlepicture{
    width: 90%;
    height: auto;
}

.w-30{
  width: 60%;
}

/* Post */
.mt-2minus {
  margin-top: -8em;
}

.mt-1minus {
  margin-top: -0.5em;
}

.btn-gray {
  background-color: #f7f7f9;
}

.btn-yellow {
  background-color: #ffe44d;
}

.text-08{
  font-size: 0.8em;
}

.picturepost{
    width: 90%;
}

.littlefont2{
    font-size: 12px;
    color: #252525;
}

.btn-lannister{
    background-color: #64ab4a;
    color: rgb(100, 88, 56);
    font-size: 15px;
    border: rgb(100, 88, 56); 1px solid;
    padding: 2px;
}
